<!DOCTYPE html>
<html lang="en">

<head>
{{>head-content}}
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        {{>nav}}
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/cv-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{firstName}} {{lastName}}</h1>
                        <hr class="small">
                        <span class="subheading">Today is {{currentTime}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
   <div class="container">
        <div class="row">
            <form action="/post" method="POST">
                <input type="text" name="title" placeholder="title" />
                <input type="text" name="summary" placeholder="summary" />
                <input type="textarea" name="content" placeholder="content" height="150pxs" />
                <button type="submit">Create a new Post!</button>
            </form>
        </div>
    </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
       {{>footer}}
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>